<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
<body>

  <header style="background-color:#e8e8e8">
    <h1> Welcome to TinyApp </h1>
      <form action="/login" method="post">
      <input type ="text" <% if(username){ %>
        placeholder="Welcome, <%= username%>"
        <% } else{ %>
        placeholder="Enter your username"
      <% } %> name="username">

      <input type="submit" <% if(username){ %>
        value="Logout"
        <% } else{ %>
        value="Login"
      <% } %>>
      </form>

  </header>
</body>
</html>