<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body style="font-size:20px; padding:50px;">
    <header style="background-color:#e06262">
    <h3>Oops! You got an error:</h3>
      <p><%= errorMsg %></p>
  </body>
</html>