<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
  <body>

  <% include _header.ejs %>
  <% var url = `/urls/${shortURL}`%>

  <h2>Shortened URL: <%= shortURL %></h2>
    <table>
      <tr>
          <td>
        <form action="<%= url%>" method="POST" style="margin:5px;">
        <input type="text" name="longURL" placeholder="<%= longURL %>" minlength=1 required>
        <input type="submit" value="Update">
        </form>
          </td>
          <td>

          </td>
      </tr>
    </table>

  </body>
</html>